/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 janv. 2018, 20:47:09
    Author     : jujud
*/
input[type=email],input[type=search],
input[type=date],input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #00A1E4;
    border-radius: 21px;
    box-sizing: border-box;

}

input[type=submit] {
    width: 100%;
    background-color: #00A1E4;
    color: white;
    padding: 14px 20px;
    margin: 8px 10px;
    border: none;
    border-radius: 21px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0075a5;
}

input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
label {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 36px;
    cursor: pointer;
}


.radio::before {
    border: 1px solid #00A1E4;
    border-radius: 4px;
}

label::before {

    content: " ";
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    z-index: -1;
    color: white;
}
input[type="radio"] + label::before {
    border-radius: 18px;
}
/* Checked */
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
    padding-left: 10px;
    color: white;
}
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
    top: 0;
    width: 100%;
    height: 100%;
    background:   #00A1E4;
}
/* Transition */
label,
label::before {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/*ScrollBar*/

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /*box-shadow:0 5px black;*/ 
    border-radius: 10px;
}


 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #00a1e4; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #027bad; 
}